In [1]:
import pandas as pd
import os
import shutil

In [2]:
# meta_file_20k = r"C:\Data\20kDatasetMetafiles\Batch1_Opal2.xlsx"
meta_file_20k = r"D:\20kDatasetMetafiles\Batch1_Opal2.xlsx"
df = pd.read_excel(meta_file_20k)
df.head()

,Array_Case_Number,ReportedGateTree,Acc_Lab,Acc_Pt_Gender,Acc_Project,Acc_Comments,AC_ReportDate,BR_Spec_Type,BR_Tumor_Pct,BR_MP,...,dsDOB,dnCollectDate,dnDOB,Available,Selection,newTxtFile,newQCverdict,newQCverdict_used,SVSfileMatchIssue,newSVSfilename
0,FFP15-008381,"I1,C1,A1,L1,H1,S1,F1,R1",Agendia (US),Female,Diagnostic,,2015-03-09 00:00:00,Breast,60.0,HIGH RISK,...,9/24/1946,736174.0,711029.0,False,Pearl_batch01,NaN,NaN,NaN,False,DMP00001.svs
1,FFP15-007966,"I1,C1,A1,L1,H1,S1,F1,R1",Agendia (US),Female,Diagnostic,,8/24/2015,Needle Core,50.0,HIGH RISK,...,1961-12-11 00:00:00,736176.0,716586.0,False,Pearl_batch01,NaN,NaN,NaN,False,DMP00002.svs
2,FFP18-019370,"I1,C1,A1,L1,H1,S1,F1,R1",Agendia (US),Female,Diagnostic,,11/13/2018,Excision,50.0,HIGH RISK,...,10/23/1959,737348.0,715806.0,False,Pearl_batch01,NaN,NaN,NaN,False,DMP00003.svs
3,FFP18-022114,"I1,C2,A1,L1,H1,S1,F1,R1",Agendia (US),Female,Diagnostic,,12/31/2018,Excision,60.0,LOW RISK,...,1966-05-08 00:00:00,737401.0,718195.0,False,Pearl_batch01,NaN,NaN,NaN,False,DMP00004.svs
4,FFP15-007445,"I1,C1,A1,L1,H1,S1,F1,R1",Agendia (Netherlands),Female,Diagnostic,,8/13/2015,Surgical,70.0,LOW RISK,...,1947-01-05 00:00:00,736031.0,711132.0,False,Pearl_batch01,NaN,NaN,NaN,False,DMP00005.svs

In [3]:
print("Columns: ", list(enumerate(df.columns)))

Columns:  [(0, 'Array_Case_Number'), (1, 'ReportedGateTree'), (2, 'Acc_Lab'), (3, 'Acc_Pt_Gender'), (4, 'Acc_Project'), (5, 'Acc_Comments'), (6, 'AC_ReportDate'), (7, 'BR_Spec_Type'), (8, 'BR_Tumor_Pct'), (9, 'BR_MP'), (10, 'BR_MP_INDEX'), (11, 'BR_BP'), (12, 'BR_LUMINAL_INDEX'), (13, 'BR_HER2_TYPE_INDEX'), (14, 'BR_BASAL_INDEX'), (15, 'Slide Used'), (16, 'HE Type'), (17, 'Tu% Enriched'), (18, 'Tu% Total'), (19, 'CompressedFileLocation'), (20, 'Slide Barcode ID'), (21, 'Image Barcode ID'), (22, 'Specimen ID'), (23, 'Internal Comment'), (24, 'txtfile'), (25, 'sourcegates'), (26, 'sourcegatesNum'), (27, 'txtfileList'), (28, 'numTxtFiles'), (29, 'MPI_used'), (30, 'SvsFileLocation'), (31, 'BP_used'), (32, 'Basal_used'), (33, 'ERBB2_used'), (34, 'Luminal_used'), (35, 'isAveraged'), (36, 'Rerun_Reason'), (37, 'TPstatus'), (38, 'TPused'), (39, 'TPenriched'), (40, 'TPtotal'), (41, 'Age'), (42, 'dsCollectDate'), (43, 'dsDOB'), (44, 'dnCollectDate'), (45, 'dnDOB'), (46, 'Available'), (47, 'Selection'), (48, 'newTxtFile'), (49, 'newQCverdict'), (50, 'newQCverdict_used'), (51, 'SVSfileMatchIssue'), (52, 'newSVSfilename')]

In [4]:
df = df[['BR_MP', 'BR_MP_INDEX', 'SvsFileLocation']]
df.head()

       BR_MP  BR_MP_INDEX                                    SvsFileLocation
0  HIGH RISK       -0.283  \\AUSV-AZFS02\G\Aperio Images\Irvine\2015\Augu...
1  HIGH RISK       -0.557  \\AUSV-AZFS02\G\Aperio Images\Irvine\2015\Augu...
2  HIGH RISK       -0.094  \\AUSV-AZFS02\F\Aperio Images\Irvine\2018\Nove...
3   LOW RISK        0.096  \\AUSV-AZFS02\F\Aperio Images\Irvine\2018\Dece...
4   LOW RISK        0.092  \\AUSV-AZFS02\F\Aperio Images\Amsterdam\2015\A...

In [5]:
df_location = df["SvsFileLocation"].str.split("\\", n = -1, expand = True) 
df_location.head()

,0,1,2,3,4,5,6,7,8,9
0,,,AUSV-AZFS02,G,Aperio Images,Irvine,2015,August,2015-08-27,52675.svs
1,,,AUSV-AZFS02,G,Aperio Images,Irvine,2015,August,2015-08-17,52311.svs
2,,,AUSV-AZFS02,F,Aperio Images,Irvine,2018,November,2018-11-09,100326.svs
3,,,AUSV-AZFS02,F,Aperio Images,Irvine,2018,December,2018-12-24,102273.svs
4,,,AUSV-AZFS02,F,Aperio Images,Amsterdam,2015,August,2015-08-06,73611.svs

In [6]:
df_location = df_location.drop([1, 2, 3], axis=1)
df_location.head()

  0              4          5     6         7           8           9
0    Aperio Images     Irvine  2015    August  2015-08-27   52675.svs
1    Aperio Images     Irvine  2015    August  2015-08-17   52311.svs
2    Aperio Images     Irvine  2018  November  2018-11-09  100326.svs
3    Aperio Images     Irvine  2018  December  2018-12-24  102273.svs
4    Aperio Images  Amsterdam  2015    August  2015-08-06   73611.svs

In [7]:
df_location[1] = r"\\10.100.20.22\SVS_Images"
df_location.head()

,0,4,5,6,7,8,9,1
0,,Aperio Images,Irvine,2015,August,2015-08-27,52675.svs,\\10.100.20.22\SVS_Images
1,,Aperio Images,Irvine,2015,August,2015-08-17,52311.svs,\\10.100.20.22\SVS_Images
2,,Aperio Images,Irvine,2018,November,2018-11-09,100326.svs,\\10.100.20.22\SVS_Images
3,,Aperio Images,Irvine,2018,December,2018-12-24,102273.svs,\\10.100.20.22\SVS_Images
4,,Aperio Images,Amsterdam,2015,August,2015-08-06,73611.svs,\\10.100.20.22\SVS_Images

In [8]:
cols = [1, 4, 5, 6, 7, 8, 9]
df_location['nas_location'] = df_location[cols].apply(lambda row: '\\'.join(row.values.astype(str)), axis=1)
df_location = df_location[['nas_location']]
df_location.head()

                                        nas_location
0  \\10.100.20.22\SVS_Images\Aperio Images\Irvine...
1  \\10.100.20.22\SVS_Images\Aperio Images\Irvine...
2  \\10.100.20.22\SVS_Images\Aperio Images\Irvine...
3  \\10.100.20.22\SVS_Images\Aperio Images\Irvine...
4  \\10.100.20.22\SVS_Images\Aperio Images\Amster...

In [9]:
df['nas_location'] = df_location[['nas_location']]
df.head()

,BR_MP,BR_MP_INDEX,SvsFileLocation,nas_location
0,HIGH RISK,-0.283,\\AUSV-AZFS02\G\Aperio Images\Irvine\2015\Augu...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
1,HIGH RISK,-0.557,\\AUSV-AZFS02\G\Aperio Images\Irvine\2015\Augu...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
2,HIGH RISK,-0.094,\\AUSV-AZFS02\F\Aperio Images\Irvine\2018\Nove...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
3,LOW RISK,0.096,\\AUSV-AZFS02\F\Aperio Images\Irvine\2018\Dece...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
4,LOW RISK,0.092,\\AUSV-AZFS02\F\Aperio Images\Amsterdam\2015\A...,\\10.100.20.22\SVS_Images\Aperio Images\Amster...

In [10]:
print(df.BR_MP.value_counts())
print(" ")
print(df.BR_MP.value_counts(normalize=True))

LOW RISK     11208
HIGH RISK     8792
Name: BR_MP, dtype: int64

LOW RISK     0.5604
HIGH RISK    0.4396
Name: BR_MP, dtype: float64

In [11]:
df_100 = df.sample(n=100, random_state=29)
print(df_100.BR_MP.value_counts())
print(" ")
print(df_100.BR_MP.value_counts(normalize=True))

LOW RISK     54
HIGH RISK    46
Name: BR_MP, dtype: int64

LOW RISK     0.54
HIGH RISK    0.46
Name: BR_MP, dtype: float64

In [12]:
df_100.head()

,BR_MP,BR_MP_INDEX,SvsFileLocation,nas_location
3384,LOW RISK,0.391,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Febr...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
189,LOW RISK,0.555,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Augu...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
87,HIGH RISK,-0.355,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Marc...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
678,HIGH RISK,-0.082,\\AUSV-AZFS02\F\Aperio Images\Amsterdam\2015\O...,\\10.100.20.22\SVS_Images\Aperio Images\Amster...
6048,LOW RISK,0.375,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\July...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...

### copy files from nas

In [13]:
file_locations = list(df_100.nas_location.values)
file_locations[0:5]

['\\\\10.100.20.22\\SVS_Images\\Aperio Images\\Irvine\\2019\\February\\2019-02-22\\105144.svs',
 '\\\\10.100.20.22\\SVS_Images\\Aperio Images\\Irvine\\2019\\August\\2019-08-20\\116736.svs',
 '\\\\10.100.20.22\\SVS_Images\\Aperio Images\\Irvine\\2019\\March\\2019-03-15\\106226.svs',
 '\\\\10.100.20.22\\SVS_Images\\Aperio Images\\Amsterdam\\2015\\October\\2015-10-20\\74567.svs',
 '\\\\10.100.20.22\\SVS_Images\\Aperio Images\\Irvine\\2019\\July\\2019-07-24\\114885.svs']

In [14]:
dst_folder = 'D:\\100_cases'
os.makedirs(dst_folder, exist_ok=True)

#### skip this if files have been copied

In [31]:
for file_loc in file_locations:
    try: 
        shutil.copy(file_loc, dst_folder)
    except:
        print("Unable to copy file: %s" %file_loc)

### prepare labels for training

In [16]:
df_100.head()

,BR_MP,BR_MP_INDEX,SvsFileLocation,nas_location
3384,LOW RISK,0.391,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Febr...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
189,LOW RISK,0.555,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Augu...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
87,HIGH RISK,-0.355,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Marc...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...
678,HIGH RISK,-0.082,\\AUSV-AZFS02\F\Aperio Images\Amsterdam\2015\O...,\\10.100.20.22\SVS_Images\Aperio Images\Amster...
6048,LOW RISK,0.375,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\July...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...

In [20]:
txt = r"\\welcome\to\the\jungle"
x = txt.split("\\")
x[-1]

'jungle'

In [30]:
df_100['svs_name'] = df_100['nas_location'].apply(lambda x: x.split("\\")).str[-1]

In [35]:
df_100['case_id'] = df_100['svs_name'].apply(lambda x: x.split(".")).str[0]
df_100['slide_id'] = df_100['case_id']
df_100['label'] = df_100['BR_MP']
df_100.head()

,BR_MP,BR_MP_INDEX,SvsFileLocation,nas_location,svs_name,case_id,slide_id,label
3384,LOW RISK,0.391,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Febr...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...,105144.svs,105144,105144,LOW RISK
189,LOW RISK,0.555,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Augu...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...,116736.svs,116736,116736,LOW RISK
87,HIGH RISK,-0.355,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\Marc...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...,106226.svs,106226,106226,HIGH RISK
678,HIGH RISK,-0.082,\\AUSV-AZFS02\F\Aperio Images\Amsterdam\2015\O...,\\10.100.20.22\SVS_Images\Aperio Images\Amster...,74567.svs,74567,74567,HIGH RISK
6048,LOW RISK,0.375,\\AUSV-AZFS02\F\Aperio Images\Irvine\2019\July...,\\10.100.20.22\SVS_Images\Aperio Images\Irvine...,114885.svs,114885,114885,LOW RISK

In [40]:
df_100_temp = df_100[['case_id', 'slide_id', 'label']]

# exclude case: 59837 (no segmentation -> no patches and no features)
df_100_temp = df_100_temp[df_100_temp.slide_id != "59837"]
df_100_temp.to_csv(os.path.join(dst_folder, 'mamma_print_100.csv'), index=False)
df_100_temp.head()

     case_id slide_id      label
3384  105144   105144   LOW RISK
189   116736   116736   LOW RISK
87    106226   106226  HIGH RISK
678    74567    74567  HIGH RISK
6048  114885   114885   LOW RISK